@import 'includes/_variables';
@import 'includes/_global-base';

html, 
body {
  height: 100%;
}

h2, h4 {
  text-align: center;
}

.contents {
  width: 100%;
  height: 100%;
}

.loginContainer {
  padding: 10px;
  height: 100%;
  background: $color-white;
}

.waitingRoom {
  height: 100%;
  padding: 10px;
  background: #004346;
  display: none;
  .title {
    color: #09BC8A;
  }
}

#startGame, #enterNight, #enterDay {
  display: none;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

.nightMode {
  height: 100%;
  padding: 10px;
  background: #172A3A;
  color: #fff;
  display: none;
}

.dayMode {
  height: 100%;
  padding: 10px;
  background: #75DDDD;
  color: #508991;
  display: none;
}
.btn-secondary {
  background: #09BC8A;
}

input {
  text-transform: uppercase;
}

.sippit_cup {
  text-align: center;
  background-image: url(../images/beer.svg);
  width: 60px;
  height: 60px;
  margin: 0 auto;
  color: black;
  font-weight: bold;
  padding-top: 13px;
  padding-left: 4px;
  font-size: 26px;
  margin-bottom: 15px;
}


.targetPlayers {
  .list-group-item {
    padding: 3px 10px;
    color: #000;
    text-align: center;
    &.target {
      color: red;
     }
  }
}

.targetSippits {
  width: 100%;
}

.sippitBtn {
  padding: 3px 0px;
  margin-left: 0px !important;
}
