/* COLOURS */
$brand-orange: #EB641E;

$color-white: #fff;
$color-black: #000;
$color-darkGrey: #4e4e4e;
$color-lightGrey: #d3d3d3;


/* FONT SIZES */
$xxLarge-heading: 160%;
$xLarge-heading: 150%;
$large-heading: 140%;
$heading: 130%;
$xLarge-text: 120%;
$large-text: 110%;
$normal-text: 100%;
$small-text: 85%;
$xSmall-text: 75%;

